$size-suffixes: ('md', 'lg', 'xl', '2xl')

@mixin size-suffixes()
    @each $size in $size-suffixes
        &-#{$size}
            @content

.debug
    outline: 1px solid red

.form-group
    display: flex
    flex-wrap: nowrap

    > :not(:first-child):not(:last-child)
        &.rounded, >.rounded
            @include size-suffixes
                border-radius: 0
                border-left: 0
                border-right: 0

    > :first-child
        &.rounded, >.rounded
            @include size-suffixes
                border-top-right-radius: 0
                border-bottom-right-radius: 0
                border-right: 0
                outline: 0

    > :last-child
        &.rounded, >.rounded
            @include size-suffixes
                border-top-left-radius: 0
                border-bottom-left-radius: 0
